<div class="min-h-screen bg-background text-textPrimary flex flex-col">

  <header class="w-full bg-primary text-buttonText py-4 px-6 text-center shadow-lg fixed top-0 left-0 z-50">
    <h1 class="text-3xl font-bold">Aesthetic Web App</h1>
  </header>

  <!-- Add margin-top to push the content below the fixed header -->
  <div class="flex-1 w-full mt-16 overflow-y-auto scrollbar scrollbar-thin scrollbar-thumb-secondary scrollbar-track-contentBackground">
    <!-- <app-product></app-product> -->
    <!-- <app-details></app-details> -->
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="w-full max-w-4xl bg-contentBackground rounded-lg shadow-md p-6 mt-6">
    <h2 class="text-xl font-semibold text-textSecondary">Welcome to the App</h2>
    <p class="mt-2 text-textSecondary">
      Explore the modern design created with your color palette.
      <a href="#" class="text-linkColor hover:underline">Learn More</a>
    </p>

    <div class="mt-6">
      <button mat-raised-button color="primary" class="bg-primary text-buttonText hover:bg-secondary p-2 rounded-[5px] ">
        Get Started
      </button>
    </div>
  </div> -->

  <!-- Footer -->
  <footer class="w-full bg-secondary text-buttonText py-4 mt-auto text-center">
    <p>&copy; 2024 Aesthetic Web App. All rights reserved.</p>
  </footer>
</div>
